.dart_tool/
.flutter-plugins*
.packages
build/
android/.gradle/
android/key.properties
android/local.properties

android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
android/gradle/wrapper/gradle-wrapper.jar
